* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.hostel-title {
  cursor: pointer;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 1.2em;
  background-color: #2e3840;
  color: aliceblue;
}
.container {
  display: flex;
}
.container-nav {
  width: 14rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  background-color: #162735;
  /* height: calc(100vh - 6rem); */
  color: aliceblue;
}
.login-link {
  list-style: none;
  line-height: 1.8rem;
}

.login-link li {
  border-radius: 4px;
}
.login-link li:hover {
  background-color: #213a4fc8;
  cursor: pointer;
}

.login-link li i {
  padding: 10px;
}
.container-registration-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;

  /* justify-content: space-between; */
  align-items: center;
  background-color: #ebf1fa;
  width: calc(100vw - 14rem);
  /* border: 1px solid black; */
}
form h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.registration-form {
  width: 90%;
  background-color: #ecf9ffe6;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(119, 140, 156, 0.909);
  margin-top: 0.5rem;
}

input:focus,
select:focus {
  /* outline: none !important; */
  outline: 1px solid black;
}
form input,
select {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #ebf1fa;
  /* box-shadow: 1px 1px 8px 1px rgba(167, 166, 166, 0.894); */
}
option,
select {
  /* outline: none;
    border: none;
    border-radius: 2px;
    margin-left: 20px;
    padding: 10px;
    background-color:#ebf1fa ; */
  width: 100px;
}

.submit-btn {
  width: 6rem;
  padding: 0.45rem 0.7rem;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: #ebf1fa;
  border: none;
  outline: none;
  color: aliceblue;

  background-image: linear-gradient(to right, #141e30e3, #243b55e3);
}
.submit-btn:hover {
  background-image: linear-gradient(to right, #141e30, #243b55);
  box-shadow: 1px 1px 8px 1.5px rgba(167, 166, 166, 0.848);
}
